@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
.text-photo {
  color: #ffffff;
  font-family: Carter One;
  font-size: 50px;
  font-style: normal;
  width: 570px;
  text-align: center;
  margin-top: -220px;
  margin-left: 430px;
  position: absolute;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.video-aventurasmar {
  width: 100%;
  height: 350px;
}
.title-travel {
  color: #000;
  text-align: center;
  font-family: "Carter One";
  font-size: 60px;
  font-weight: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.subtitle-travel {
  color: rgba(46, 54, 73, 0.6);
  text-align: center;
  font-family: "Carter One";
  font-size: 32px;
  font-style: normal;
  line-height: normal;
}
.linea-top {
  width: 600px;
  margin: 0;
  padding: 4px;
  background: orange;
  border: 0;
  margin-top: 90px;
}
.linea-bottom {
  width: 850px;
  padding: 4px;
  background: #f28705;
  border: 0;
  justify-content: space-between;
}
.container-global-destinosInternacionales {
  width: 100%;
  background: rgb(242, 242, 242);
  margin-bottom: 80px;
  margin-top: 60px;
  padding-bottom: 40px;
  padding-top: 1px;
}
