@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

.travel-tittle {
  position: relative;

  .video-aventurasmar {
    z-index: 0;
    width: 100%;
    height: 350px;
  }

  .text-photo {
    color: #ffffff;
    font-family: Carter One;
    font-size: 80px;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 20%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
  }
}

.title-travel {
  color: #000;
  text-align: center;
  font-family: "Carter One";
  font-size: 60px;
  font-weight: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.subtitle-travel {
  color: rgba(46, 54, 73, 0.6);
  text-align: center;
  font-family: "Carter One";
  font-size: 32px;
  font-style: normal;
  line-height: normal;
}
.linea-top {
  margin: 0;
  padding: 4px;
  background: orange;
  border: 0;
  margin-top: 90px;
}
.linea-bottom {
  padding: 4px;
  background: #f28705;
  border: 0;
  justify-content: space-between;
}
.container-global-destinosInternacionales {
  width: 100%;
  background: rgb(242, 242, 242);
  margin-bottom: 80px;
  margin-top: 60px;
  padding-bottom: 40px;
  padding-top: 1px;
}

@media (max-width: 1024px) {
  .text-photo {
    font-size: 60px;
  }

  .subtitle-travel {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .text-photo {
    font-size: 35px;
  }

  .subtitle-travel {
    font-size: 20px;
  }
  .title-travel {
    font-size: 45px;
  }
}

@media (max-width: 425px) {
  .text-photo {
    font-size: 15px;
    width: 200px;
  }

  .subtitle-travel {
    font-size: 15px;
  }
  .title-travel {
    font-size: 30px;
  }
}
