@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
.container-card-lugar {
  width: 340px;
  height: 420px;
  margin-bottom: 40px;
  background: #ffffff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 10px 20px 20px -2px rgba(0.2, 0, 0, 0.5);
}
.container-card-lugar:hover {
  transform: translate(10px, -10px);
}

.photo-card-lugares {
  width: 100%;
  height: 280px;
  background-size: cover;
}

.button-planes {
  background-image: linear-gradient(60deg, #f2be21 0%, #ff962a 100%);
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: carter one;
  box-shadow: 10px 20px 20px -2px rgba(0.2, 0, 0, 0.5);
}
.button-planes:hover {
  background-image: linear-gradient(60deg, #f22121 0%, #ffb42a 100%);
}
.title-card-lugar {
  color: #1d202b;
  font-family: carter one;
  font-size: 40px;
  margin-bottom: 0px;
  background: white;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-card-lugares {
  display: flex;
  flex-wrap: wrap; /* Crea tres columnas de igual ancho */
  justify-content: center;
  gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

@media (max-width: 1024px) {
  .container-card-lugar {
    width: 250px;
    height: 350px;
    margin-bottom: 30px;
  }
  .photo-card-lugares {
    width: 100%;
    height: 220px;
    background-size: cover;
  }
  .title-card-lugar {
    font-size: 30px;
  }
  .container-card-lugares {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .container-card-lugar {
    width: 200px;
    height: 250px;
    margin-bottom: 50px;
  }
  .photo-card-lugares {
    width: 100%;
    height: 150px;
    background-size: cover;
  }
  .title-card-lugar {
    font-size: 25px;
  }
  .container-card-lugares {
    margin-bottom: 20px;
  }
  .button-planes {
    background-image: linear-gradient(60deg, #f2be21 0%, #ff962a 100%);
    padding: 20px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 50px;
  }
  .container-card-lugares {
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: 430px) {
  .container-card-lugar {
    width: 150px;
    height: 190px;
    margin-bottom: 50px;
  }
  .photo-card-lugares {
    width: 100%;
    height: 110px;
    background-size: cover;
  }
  .title-card-lugar {
    font-size: 20px;
  }
  .container-card-lugares {
    margin-bottom: 20px;
  }
  .button-planes {
    background-image: linear-gradient(60deg, #f2be21 0%, #ff962a 100%);
    padding: 15px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .container-card-lugares {
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
    margin-bottom: 30px;
  }
}
