@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

a {
  text-decoration: none;
}

.container-card-inicio {
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("https://images.ctfassets.net/cfexf643femz/7ffmw1z22uDIYLvOwPWKvc/d7cdd973106b745b58904dd19a36d687/razones-invertir-cartagena-colombia.jpg");
}

.product-info-start {
  color: rgba(255, 255, 255, 0.81);
  text-align: center;
  font-family: "Carter One";
  font-size: 16px;
  margin: 20px;
}
.titulo-card-start {
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: "Carter One";
  font-size: 24px;
}

.container-start-contenido {
  background-color: rgba(0, 0, 0, 0.323);
  text-align: center;
  margin-top: 220px;
  width: 100%;
  height: 31%;
  border-top-left-radius: 8rem;
  border-top-right-radius: 8rem;
  padding-top: 50px;
  padding-bottom: 20px;
}
.container-card-principal {
  display: flex;
  margin-top: 60px;
  gap: 70px;
  justify-content: center;
}

.container-card:hover {
  .container-start-contenido {
    background-color: rgba(0, 0, 0, 0.805);
    border: #fff;
  }
}

@media (max-width: 1024px) {
  .container-card-inicio {
    width: 280px;
    height: 320px;
  }
  .container-start-contenido {
    background-color: rgba(0, 0, 0, 0.323);
    margin-top: 130px;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
    border-top-left-radius: 8rem;
    border-top-right-radius: 8rem;
  }
  .container-card-principal {
    gap: 15px;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  .titulo-card-start {
    margin-left: 12px;
    font-size: 20px;
    width: 250px;
  }
  .product-info-start {
    color: rgba(255, 255, 255, 0.81);
    text-align: center;
    font-family: "Carter One";
    font-size: 12px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .container-experiencias {
    justify-content: center;
  }
}
