@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

ul {
  padding: 0;
}

.container-photo {
  position: relative;
  width: 100%;
  margin-top: 60px;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/21/10/44/desert-1270345_1280.jpg");
  background-size: cover;
  padding: 50px 0;
}
.container-photo:before {
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.308);
}

.tittle-footer {
  position: relative;
  text-align: center;
  font-size: 45px;
  margin-bottom: -15px;
  color: white;
  font-family: "carter one";
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.subtittle-footer {
  position: relative;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: "carter one";
  text-shadow: 3px 2px 4px rgb(0, 0, 0);
}
.container-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 90px;
}

.container-uno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icono-uno {
  width: 90px;
  background-color: azure;
  padding: 30px;
  border-radius: 30px;
  position: relative;
}
.texto-uno {
  position: relative;
  color: white;
  font-family: Carter One;
  font-size: 25px;
  text-align: center;
  width: 300px;
  margin-top: 20px;
}

/*inicio parte abajo footer*/
.footer {
  padding: 50px 20px;

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 80px;
  }

  .parte-cuatro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.tittle-uno {
  margin: 10px;
  font-family: carter one;
  font-size: 25px;
  text-align: center;
  color: white;
}
.contenido-footer {
  font-size: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}
.contenido-footer li {
  padding: 5px;
}
.footer {
  background-color: black;
}
.google-maps {
  width: 200px;
}
.container-iconos-footer {
  background: rgb(3, 3, 3);
  width: 100%;
  gap: 30px;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  margin-top: -1px;
}
.icono {
  width: 50px;
}
.linea-footer {
  width: 600px;
  height: 0;
  margin: 0;
  background: white;
}
.year {
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: -50px;
  font-size: 20px;
  font-family: "Carter One";
}
.rnt {
  color: white;
  font-family: "Carter One";
  font-size: 20px;
  background: black;
  width: 100%;
}

@media (max-width: 1024px) {
  img.icono {
    width: 40px;
  }
  .texto-uno {
    font-size: 20px;
  }
  .mapa {
    width: 230px;
  }

  .contenido-footer {
    font-size: 15px;
  }
  .tittle-uno {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .tittle-footer {
    font-size: 40px;
  }
  .subtittle-footer {
    font-size: 30px;
  }

  .texto-uno {
    position: relative;
    color: white;
    font-family: Carter One;
    font-size: 17px;
    text-align: center;
    width: 200px;
    margin-top: 20px;
  }
  .mapa {
    width: 150px;
    justify-content: center;
  }

  .footer {
    background-color: black;
  }
  img.icono {
    width: 30px;
  }
}

@media (max-width: 430px) {
  .tittle-footer {
    font-size: 22px;
  }
  .subtittle-footer {
    font-size: 20px;
  }

  .texto-uno {
    font-size: 15px;
  }
  .mapa {
    width: 150px;
    justify-content: center;
  }

  img.icono {
    width: 20px;
  }
  .icono-uno {
    width: 30px;
    padding: 20px;
  }
}
