@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

.container-photo {
  position: relative;
  width: 100%;
  height: 550px;
  margin-top: 60px;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/21/10/44/desert-1270345_1280.jpg");
  background-size: cover;
  padding: 10px;
}
.container-photo:before {
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.308);
}

.tittle-footer {
  position: relative;
  text-align: center;
  font-size: 45px;
  margin-bottom: -15px;
  color: white;
  font-family: "carter one";
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.subtittle-footer {
  position: relative;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: "carter one";
  text-shadow: 3px 2px 4px rgb(0, 0, 0);
}
.container-contenido {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 150px;
  gap: 100px;
}

.container-uno {
  display: grid;
}

.icono-uno {
  width: 90px;
  background-color: azure;
  padding: 30px;
  border-radius: 30px;
  position: relative;
}
.texto-uno {
  position: relative;
  color: white;
  font-family: Carter One;
  font-size: 25px;
  text-align: center;
  width: 300px;
  margin-top: 20px;
  margin-left: -60px;
}

/*inicio parte abajo footer*/
.footer {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}
.tittle-uno {
  margin: 10px;
  font-family: carter one;
  font-size: 25px;
  text-align: center;
  color: white;
}
.contenido-footer {
  font-size: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}
.contenido-footer li {
  padding: 5px;
}
.footer {
  background-color: black;
  width: 100%;
}
.google-maps {
  width: 200px;
}
.container-iconos-footer {
  background: rgb(3, 3, 3);
  width: 100%;
  gap: 30px;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  margin-top: -1px;
}
.icono {
  width: 50px;
}
.linea-footer {
  width: 600px;
  height: 0;
  margin: 0;
  background: white;
}
.year {
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: -50px;
  font-size: 20px;
  font-family: "Carter One";
}
.rnt {
  color: white;
  font-family: "Carter One";
  font-size: 20px;
  background: black;
  width: 100%;
}

@media (max-width: 1024px) {
  .container-contenido {
    margin-left: 90px;
  }
  .texto-uno {
    font-size: 20px;
  }
  .mapa {
    width: 230px;
  }

  .contenido-footer {
    font-size: 15px;
  }
  .tittle-uno {
    font-size: 15px;
  }
  .footer {
  }
}
@media (max-width: 768px) {
  .container-contenido {
    margin-left: 90px;
  }
  .texto-uno {
    font-size: 20px;
  }
  .mapa {
    width: 230px;
  }

  .contenido-footer {
    font-size: 15px;
  }
  .tittle-uno {
    font-size: 15px;
  }
  .footer {
  }
}
