.imagen-promocion {
  box-shadow: 0px 20px 20px -8px rgba(154, 76, 76, 0.5);
}
.container-imagenes {
  display: grid;
  justify-items: center;
}

.preguntar {
  align-items: center;
  margin-top: 10px;
  width: 100px;
  height: 40px;
  background-image: linear-gradient(60deg, #f2be21 0%, #ff962a 100%);
  padding: 10px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 26px;
  font-family: "Carter one";
  margin-bottom: 30px;
}

.preguntar:hover {
  background-image: linear-gradient(60deg, #21d3f2 0%, #666666 100%);
}
.container-imagenes-Sanandres {
  display: flex;
  gap: 30px;
}
