.container-navbar {
  display: flex;
  padding: 10px;
  background: orange;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  text-decoration: none;
  position: sticky;
  top: 0;
  z-index: 9999;
}
@media (max-width: 1024px) {
  .container-navbar {
    padding: 10px;
  }
}
.titulo-navbar {
  font-family: Carter One;
  color: black;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.titulo-navbar-destinos {
  text-decoration: none;
  color: black;
  background: rgb(253, 182, 106);
  padding: 10px;
}

.icono {
  display: flex;
  width: 100px;
  margin-left: 30px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  width: max-content;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: Carter One;
}

.menu {
  display: flex;
  gap: 40px;
  text-decoration: none;
  color: black;
  margin-right: 30px;
}
