@import url("https://fonts.googleapis.com/css2? family= Carme & display=swap");
.container-card-elementos {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  text-align: center;
  padding: 10px;
  position: relative;
  justify-content: center;
}

.container-card-planes {
  margin-top: 40px;
  position: relative;
  border-radius: 8px;
  box-shadow: 20px 20px 20px -5px rgba(0, 0, 0, 0.5);
  background-size: cover;
  padding: 30px;
}

.container-card-planes:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 253, 253, 0.413);
}
.title-card-planes {
  font-size: 45px;
  position: relative;
  margin-bottom: 0px;
  margin-top: 25px;
  font-family: carter one;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 0.1em 0.1em 0.05em rgba(0, 0, 0, 0.222);
}

.container-card-dos {
  margin-top: 30px;
  padding-left: 6px;
  width: 350px;
}
.text-salidas-planes {
  font-size: 30px;
  font-family: carter one;
  text-decoration-line: underline;
  text-decoration-color: #f28705;
  position: relative;
}
.text-salidas-contenido {
  font-family: carter one;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 18px;
  position: relative;
}
.text-conocer {
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-family: carter one;
  text-decoration: underline;
  text-decoration-color: #f28705;
  margin-top: 10px;
}
.text-conocer-contenido {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: carter one;
  margin-top: 10px;
  margin-bottom: 50px;
}
.container-card-tres {
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 30px;
}
.text-tarifa-planes {
  display: flex;
  font-size: 35px;
  font-family: carter one;
  text-decoration: underline;
  text-decoration-color: #f28705;
  justify-content: center;
}
.text-tarifa-contenido {
  font-size: 35px;
  font-family: carter one;
  text-shadow: -2px 0 rgb(255, 255, 255), 0 2px rgb(255, 255, 255),
    2px 0 rgb(255, 255, 255), 0 -2px rgb(255, 255, 255);
}
.text-document {
  margin-top: 1000px;
  font-size: 12px;
  font-family: carter one;
}
.descarga-document {
  display: flex;
  background: #f5b669;
  text-decoration: none;
  color: white;
  font-family: carter one;
  border-radius: 8px;
  font-size: 20px;
  margin-top: 10px;
  justify-content: center;
}
.container-descarga {
  margin-top: 20px;
}
.button-cotizar {
  background-image: linear-gradient(60deg, #f2be21 0%, #ff962a 100%);
  background-color: #d9ac18;
  position: relative;
  padding: 15px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 35px;
  font-family: carter one;
  margin-left: 250px;
  box-shadow: 0px 20px 20px -8px rgba(0.2, 0, 0, 0.5);
  position: absolute;
  bottom: -30px;
  margin: auto;
  left: calc(50% - 77px);
}
.button-cotizar:hover {
}
.container-cards-cartagena {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

@media (max-width: 1024px) {
  .container-card-dos {
    margin-top: 10px;
    padding-left: 6px;
    margin-bottom: -70px;
    width: 280px;
  }
  .button-cotizar {
    font-size: 25px;
    margin-left: 25px;
  }
  .container-card-elementos {
    padding: 10px;
    margin-bottom: 20px;
  }
  .title-card-planes {
    font-size: 40px;
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .text-salidas-planes {
    font-size: 25px;
  }
  .text-tarifa-planes {
    font-size: 25px;
  }
  .text-tarifa-contenido {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .container-card-elementos {
    padding: 0px;
    margin-bottom: 20px;
  }
  .title-card-planes {
    font-size: 30px;
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .text-salidas-planes {
    font-size: 25px;
  }
  .text-tarifa-planes {
    font-size: 25px;
  }
  .text-tarifa-contenido {
    font-size: 25px;
  }
}

@media (max-width: 430px) {
  .container-card-elementos {
    padding: 0px;
    margin-bottom: 20px;
  }
  .title-card-planes {
    font-size: 25px;
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .text-salidas-planes {
    font-size: 20px;
  }
  .text-conocer {
    font-size: 20px;
  }
  .text-tarifa-planes {
    font-size: 20px;
  }
  .text-tarifa-contenido {
    font-size: 25px;
  }
  .container-cards-cartagena {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20px;
  }
  .container-card-planes {
    margin-top: 40px;
    position: relative;
    border-radius: 8px;
    box-shadow: 20px 20px 20px -5px rgba(0, 0, 0, 0.5);
    background-size: cover;
    padding: 30px;
    height: 400px;
    width: 300px;
  }
}
